<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackton.health.eir">

    <application
        android:resizeableActivity="false"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Enter"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TodoView"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ToDoList"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|screenSize"/>
        <meta-data android:name="com.huawei.ar.engine" android:value="required"/>
        <meta-data
            android:name="me.digi.sdk.AppName"
            android:value="@string/app_name" />
        <meta-data
            android:name="me.digi.sdk.AppId"
            android:value="@string/APP_ID" />
        <meta-data
            android:name="me.digi.sdk.Contracts"
            android:resource="@string/CONTRACT_ID" />
        <meta-data
            android:name="me.digi.sdk.Keys"
            android:value="@string/P12_KEYSTORE_FILENAME" />
        <meta-data
            android:name="me.digi.sdk.KeysPassphrase"
            android:value="@string/P12_KEYSTORE_PASSWORD" />
    </application>
</manifest>